<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
	<title>plans</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/pricing/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>

<body>

	<!-- heading2 navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<!--a class="navbar-brand" href="#">Navbar</a-->
			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a href="{{ url_for('home') }}" class="nav-link active" aria-current="page">
						Home
						</a>
					</li>
					<li class="nav-item"> <a class="nav-link" href="/about">About</a> </li>
					{% if email != None %}
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('dashboard')}}">Dashboard</a> </li>
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('createblog')}}">Create Blog</a> </li>
					{% endif %}

				</ul>
			</div>
		</div>
	</nav>

    	<!--user info heading -->
	<!-- nameing header-->
	<div class="breadcrumb"> {% if email == None %}
		<a href="{{ url_for('login')}}" style="position:relative; left:80%; top:2px; color: white;">
			<button class="btn btn-primary float-end mx-2 mt-2"> Login</button>
		</a> {% else %}
		<div class="col-sm-3 mx-3 mt-2"> <b>NAME: </b> {{name}}
			<br> <b> Email : </b> {{ email }} </div>
		<div class="row d-flex justify-content-right">
			<div class="header1">
				<button style="position:relative; left:700px; top:2px; " class="btn btn-primary float-end mx-2 mt-2">
					<a href="{{ url_for('logout')}}" class="text-light">
						Logout
					</a>
				</button>
			</div>
		</div>
		{% endif %}
	</div>

<!--  heaind of plan	-->
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pricing</h1>
		<p class="lead"> <b>For creating more than FIVE post you have to purchase plan</b>
			<br>
			you already created 5 posts for free now you have to buy a plan for Quickly build effective posts for your potential viewers .
		</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center row" >


          <div class="card mb-4 box-shadow col-md-4">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Basic</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$1 <small class="text-muted">/20posts</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>create beautiful posts</li>
              <li>create</li>
              <li>update </li>
              <li>Help center access</li>
            </ul>
                    <form method="POST" action="/selectedplan">
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary" name="plan" value="1" >
						Purchase
                        </button>
					</form>
          </div>
        </div>


        <div class="card mb-4 box-shadow col-md-4">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Standard</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$5 <small class="text-muted">/100Posts</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
                     <form method="POST" action="/selectedplan">
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary" name="plan" value="2" >
						Purchase
                        </button>
					</form>
          </div>
        </div>



        <div class="card mb-4 box-shadow col-md-4">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$10 <small class="text-muted">/1000Posts</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
                    <form method="POST" action="/selectedplan">
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary" name="plan" value="3" >
						Purchase
                        </button>
					</form>
          </div>
        </div>
      </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
<!--	<h1 style="text-align: center;"> SELECT YOUR PLAN</h1>-->
<!--	<div class="container">-->
<!--		<div clas="cntnr">-->
<!--			<table class="table">-->
<!--				<thead>-->
<!--					<tr>-->
<!--						<th scope="col">POSTS</th>-->
<!--						<th scope="col">DOLLARS</th>-->
<!--						<th scope="col">SELECT </th>-->
<!--					</tr>-->
<!--				</thead>-->
<!--				<tbody> {% for plan in plans %}-->
<!--					<tr>-->
<!--						<td>{{plan.blogs}}</td>-->
<!--						<td>{{plan.price}}</td>-->
<!--						<td>{{plan.BUTTON}}-->
<!--							<button type="submit" value="Submit">Submit</button>-->
<!--						</td>-->
<!--					</tr> {% endfor %} </tbody>-->
<!--			</table>-->
<!--		</div>-->
<!--	</div>-->
<!--              <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="downkey(this)">-->
<!--                  Purchase-->
<!--              </button>-->
<!--                    <script>-->
<!--                        function downkey(x){-->
<!--                        confirm("Do you want to purchase this plan")-->
<!--                        }-->
<!--                    </script>-->
</body>

</html>